@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .home-banner-height{
        height: calc(100vh - 109px);
    }
    .page-min-height{
        min-height: calc(100vh - 219px);
    }
    .square {
        aspect-ratio: 1 / 1;
    }
    .banner-ratio{
        aspect-ratio: 3 / 1;
    }
    .base-font{
        font-size: 17px;
        line-height: 30px;
    }
}