@tailwind base;
@tailwind utilities;


@layer utilities {
    .home-banner-height {
        height: calc(100vh - 109px);
    }

    .page-min-height {
        min-height: calc(100vh - 219px);
    }

    .square {
        aspect-ratio: 1 / 1;
    }

    .banner-ratio {
        aspect-ratio: 3 / 1;
    }

    .base-font {
        font-family: sans-serif;
        font-size: 17px;
        line-height: 30px;
    }

    .top-59 {
        top: 59px;
    }

    .top-109 {
        top: 109px;
    }
}