@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
    .btn{
        @apply py-3 px-10 font-semibold relative overflow-hidden transition-all box-shadow;
        &::after{
            content: "";
            display: block;
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #fff;
            right: -60px;
            top: 20px;
        }
    }
    .red-btn{
        @apply bg-red-700 hover:bg-red-800 text-white;
    }
    .blue-btn{
        @apply bg-sky-500 hover:bg-sky-600 text-white;
    }
}

@layer utilities {
    .home-banner-height {
        height: calc(100vh - 109px);
    }

    .page-min-height-mobile {
        min-height: calc(100vh - 123px);
    }
    .page-min-height {
        min-height: calc(100vh - 198px);
    }

    .square {
        aspect-ratio: 1 / 1;
    }

    .banner-ratio {
        aspect-ratio: 3 / 1;
    }
    .home-banner-ratio{
        aspect-ratio: 3/2;
    }

    .base-font {
        font-family: sans-serif;
        font-size: 17px;
        line-height: 30px;
    }

    .top-59 {
        top: 59px;
    }

    .top-88 {
        top: 88px;
    }
    .h-120{
        height: 30rem;
    }
    .box-shadow{
        box-shadow: 1px 1px 10px 0 #0000006b;
    }
}
.text-red-600{
    color: #ee1d23;
}